<template>
  <CRow>
    <CCol col="12" lg="12">
      <CCard no-header>
        <CCardBody>
            <h5>Add Restaurant</h5>
          <CForm @submit.prevent="store" enctype="multipart/form-data">    
            <CAlert
                :show.sync="dismissCountDown"
                color="primary"
                fade
            >   
            ({{dismissCountDown}}) {{ message }}
            </CAlert>
            <CInput type="text" label="Name" placeholder="Name" v-model="name" required></CInput>
            <!-- <CInputFile  label="Image"  @change="onChange" /> -->
            <CInput type="text" label="Address" placeholder="Address" v-model="address" required></CInput>
            <label>Logo</label><br>
            <input type="file" class="form-control" accept="image/png,image/jpeg" @change="onChange( $event )"/><br>
            <img v-if="url" :src="url" style="width:50px;height:50px;margin-top: 10px;"/><br>
            <CInput type="text" label="Contact number" placeholder="Contact Number" v-model="contact_no"  @keypress="isNumber($event)"></CInput>
            <CInput type="text" label="Email" placeholder="Email" v-model="email"  ></CInput>
            <CTextarea
                label="Description"
                placeholder="Description"
                rows="5"
                v-model="description"
              />
            <!-- <CInput type="text" label="Email" placeholder="Email" v-model="email"></CInput> -->
            <CButton type="submit" color="primary" >Save</CButton>
            <!-- <CButton color="primary" >Back</CButton> -->
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>
<script>
import axios from 'axios';
export default {
  name: 'restaurant',
  data :()=>{
      return {
        name:'',
        message:'',
        file:'',
        address:'',
        dismissSecs: 7,
        dismissCountDown: 0,
        showDismissibleAlert: false,
        url:'',
        email:'',
        contact_no:'',
        description:''
        
      }
  },
  methods: {
      store(){
          let self=this;
          const fd = new FormData()

          fd.append('file', self.file)
          fd.append('name', self.name)
          fd.append('address',self.address)
          fd.append('contact_no',self.contact_no)
          fd.append('email',self.email)
          fd.append('description',self.description)

          axios.post(this.$apiAdress + '/api/restaurant/store?token=' + localStorage.getItem("api_token"),
          fd)
          .then(function(response){
              self.name='';
              self.message='Successfully added';
              self.showAlert();
              self.$router.push({ path: '/restaurant' }); 

          }).catch(function(error){
              if(error.response.data.message == 'The given data was invalid.'){
              self.message = '';
              for (let key in error.response.data.errors) {
                if (error.response.data.errors.hasOwnProperty(key)) {
                  self.message += error.response.data.errors[key][0] + '  ';
                }
              }
              self.showAlert();
            }else{
              console.log("hgfuyf",error);
              // self.$router.push({ path: 'login' }); 
            }
          });
        //   console.log('heirhier');
      },
      showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    onChange(event){
               let self=this;
      self.file=event.target.files[0];
      self.url = URL.createObjectURL(self.file);

      // console.log(" ===== this is me ==== ", event.target.files[0].name);
            // self.image = event.FileList.file[0];
            // console.log(self.image);
    },
    isNumber: function(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault();;
      } else {
        return true;
      }
    }
    // formField: Object,
  },
  mounted:function() {

  }
}
</script>
