<template>
  <CRow>
    <CCol col="12" xl="12">
      <transition name="slide">
        <CCard>
          <CCardHeader>
            Restaurants
            <!-- <CButton color="secondary" @click="myModal = true" class="mr-1">
                Launch demo modal
              </CButton> -->
            <CModal title="Restaurant" :show.sync="myModal">
              <CRow>
                <CCol col="2" xl="2">
                  <img :src="'/uploads/'+modalData.image" style="height:50px;width:50px;">
                </CCol>
                <CCol col="10">
                  <p>{{ modalData.description }}<br> {{ modalData.address }} </p>
                </CCol>
              </CRow>
              <CRow>
                <CCol col="12">
                  <h6>Business Contacts</h6>
                  <p>Email: {{modalData.email}}<br>Contact Number : {{modalData.contact_no}}</p>
                  <!-- <p>Contact Number: {{modalData.contact_no}}</p> -->
                </CCol>
              </CRow>
              <CRow>
                <CCol col="12">
                  <h6>QR</h6>
                  <qrcode-vue :value="value" :size="size" level="H" /> 
                </CCol>
              </CRow>
             <!-- <p> Name : {{ modalData.name }} </p>
             <p>Image : <img :src="'/uploads/'+modalData.image" style="height:50px;width:50px;"></p>
             <p>Address : {{modalData.address}}</p>
                <qrcode-vue :value="value" :size="size" level="H" /> -->

            </CModal>
             <CModal title="Edit Restaurant" :show.sync="editModal">
              <!-- <CForm @submit.prevent="edit"> -->
              <CInput
                type="text"
                label="Name"
                placeholder="Name"
                v-model="fields.name"
                required
              ></CInput>
              <input type="file" accept="image/png,image/jpeg" class="form-control" @change="onChange($event)"><br>
              <img v-if="this.url==''" :src="'/uploads/'+modalData.image" style="width:50px;height:50px;"><br>
              <img v-if="this.url!=''" :src="url" style="width:50px;height:50px;"/><br>

              <CInput type="text" label="Address" placeholder="Address" v-model="fields.address"/>
              <template #footer>
                <CButton @click="editModal = false" color="danger">Cancel</CButton>
                <CButton @click="edit(fields.name,fields.address,modalData.id)" color="success">Update</CButton>
            </template>
              <!-- <CButton type="submit" color="danger">Discard</CButton>  -->
            <!-- </CForm> -->
            </CModal> 
            
            <CButton
              color="primary"
              @click="addRestaurant()"
              class="mb-3"
              style="float: right"
              >Add Restaurant</CButton
            >
          </CCardHeader>
          <CCardBody>
            <CAlert :show.sync="dismissCountDown" color="primary" fade>
              ({{ dismissCountDown }}) {{ message }}
            </CAlert>
            <CDataTable
              hover
              striped
              :items="items"
              :fields="fields"
              :items-per-page="5"
              pagination

            >
              <template #logo="{item}">
            <td>
              <img :src="'/uploads/'+item.image" style="width:50px;height:50px;">
            </td>
          </template>
          <!-- <template #status="{ item }">
                <td>
                  <CInputCheckbox
                    :checked="item.status == '0'"
                    @click="updateStatus(item.id)"
                    title="Activate/Deactivate"
                  />
                </td>
              </template> -->
              <!-- <template #id="{item}">
            <td>
              <p>{{item.id}}</p>
            </td>
          </template> -->
              <!-- <template #edit="{item}">
            <td>
              <CButton color="primary" @click="editUser( item.id )">Edit</CButton>
            </td>
          </template> -->
              <template #status="{item}">
            <td>
              <CInputCheckbox
                :checked="item.status =='0'"
                @click="updateStatus( item.id )"
              />
          </td>
          </template>
              <template #action="{ item }">
                <td>
                  <CButton color="primary" @click="showModal(item)"
                    >View</CButton
                  >
                  <!-- <CButton color="info" @click="openEditModal(item)"
                    >Edit</CButton
                  > -->
                  <CButton color="danger" @click="deleteRestaurant(item.id)"
                    >Delete</CButton>
                    <CButton color="info" @click="openMenu(item.id)"
                    >Menu</CButton
                  >
                </td>
                
              </template>
            </CDataTable>
          </CCardBody>
        </CCard>
      </transition>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";
import QrcodeVue from 'qrcode.vue'

export default {
  name: "restaurantList",
  data: () => {
    return {
      items: [],
      fields: ["name", "logo","address","status","action"],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      message: "",
      showMessage: false,
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      myModal: false,
      modalData: {},
      editModal: false,
      url:'',
      image:'',
      value:'https://example.com',
      size:50
      // item:''
    };
  },
  paginationProps: {
    align: "center",
    doubleArrows: false,
    previousButtonHtml: "prev",
    nextButtonHtml: "next",
  },
  methods: {
    addRestaurant() {
      this.$router.push({ path: "/restaurant/create" });
    },
    showModal(item) {
      // console.log(" === this is me === ", item);
      this.modalData = item;
      this.myModal = true;
    },
    openEditModal(item) {
      this.modalData = item;
      // console.log(" === this is me 2 === ", item);
      this.fields.name = this.modalData.name;
      // this.fields.address=this.modalData.address;
      this.editModal = true;
    },
    edit(name,address,id){
      let self=this;
      // console.log(self.file);
      if(self.file ==undefined){
        self.file=self.modalData.image;
        console.log(self.file);
      }else{
        self.file=self.file;
        // console.log("egegwgwege",self.file);
      }

         const fd = new FormData()

          fd.append('file', self.file)
          fd.append('name', name)
          fd.append('address',address)
      // console.log("herer",self.file);

    //   axios({
    // method: 'post',
    // url: 'myurl',
    // data: bodyFormData,
    
    // })
      axios({
        method:'post',
        url:this.$apiAdress+"/api/restaurant/update/"+id+"?token="+localStorage.getItem("api_token"),
        data:fd,
        headers: {'Content-Type': 'multipart/form-data' }
      })
//         this.$apiAdress+"/api/restaurant/update/"+id+"?token="+localStorage.getItem("api_token"),
//       fd,{ "Content-Type": "multipart/form-data" },
// )
      .then(function(response){
        self.message ="Successfully updated";
        self.showAlert();
        self.getRestaurant();
        self.editModal = false;

      })
      .catch(function(error){
        console.log(error);
        if(error.response.status =='401'){
                    self.$router.push({ path: "/login" });
                  }
      });
      
    },
    // getBadge (status) {
    //   return status === 'Active' ? 'success'
    //     : status === 'Inactive' ? 'secondary'
    //       : status === 'Pending' ? 'warning'
    //         : status === 'Banned' ? 'danger' : 'primary'
    // },
    // userLink (id) {
    //   return `users/${id.toString()}`
    // },
    // editLink (id) {
    //   return `users/${id.toString()}/edit`
    // },
    // showUser ( id ) {
    //   const userLink = this.userLink( id );
    //   this.$router.push({path: userLink});
    // },
    // editUser ( id ) {
    //   const editLink = this.editLink( id );
    //   this.$router.push({path: editLink});
    // },
    deleteRestaurant(id) {
      let self = this;
      let userId = id;
      axios
        .post(this.$apiAdress +"/api/restaurant/delete/" +id +"?token=" +localStorage.getItem("api_token"))
        .then(function (response) {
          self.message = "Successfully deleted restaurant";
          self.showAlert();
          self.getRestaurant();
        })
        .catch(function (error) {
          console.log(error);
          if(error.response.status =='401'){
                    self.$router.push({ path: "/login" });
                  }
          // self.$router.push({ path: "/login" });
        });
    },

    // countDownChanged (dismissCountDown) {
    //   this.dismissCountDown = dismissCountDown
    // },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    getRestaurant() {
      let self = this;
      axios
        .get(
          this.$apiAdress +
            "/api/restaurant?token=" +
            localStorage.getItem("api_token")
        )
        .then(function (response) {
          self.items = response.data.data;
        })
        .catch(function (error) {
          console.log(error);
          if(error.response.status =='401'){
                    self.$router.push({ path: "/login" });
                  }
          // self.$router.push({ path: "/login" });
        });
    },
    onChange(event){
               let self=this;
      self.file=event.target.files[0];
      self.url = URL.createObjectURL(self.file);

      // console.log(" ===== this is me ==== ", event.target.files[0].name);
            // self.image = event.FileList.file[0];
            // console.log(self.image);
    },
    updateStatus(id) {
      let self = this;
      axios
        .post(
          this.$apiAdress +
            "/api/restaurant/update/status/" +
            id +
            "?token=" +
            localStorage.getItem("api_token"),
          {}
        )
        .then(function (response) {
          self.message = "Successfully updated status";
          self.showAlert();
          self.getRestaurant();
        })
        .catch(function (error) {
          console.log(error);
          if (error.response.status == "401") {
            self.$router.push({ path: "/login" });
          }
          // self.$router.push({ path: '/login' });
        });
    },
    openMenu(id){
      this.$router.push({ path: "/item/"+id });

    }
    // updateStatus(id){
    //   let self=this;
    //   let userId=id;
    //   axios.post(  this.$apiAdress + '/api/users/update/status/' + id + '?token=' + localStorage.getItem("api_token"), {
    //     // _method: 'DELETE'
    //   })
    //   .then(function (response) {
    //       self.message = 'Successfully updated user.';
    //       self.showAlert();
    //       self.getUsers();
    //   }).catch(function (error) {
    //     console.log(error);
    //     self.$router.push({ path: '/login' });
    //   });
    // }

    // showModal(id){
    //     let self =this
    //     let restaurantId=id;
    //     axios.get(this.$apiAdress+''+id+'?token='+localStorage.getItem("api_token"))
    //     .then(function(response){
    //         self.items=response.data.data;

    //     }).catch(function(error){
    //         console.log(error);
    //         self.$router.push({path:'/login'});
    //     });
    // }
  },
  mounted: function () {
    this.getRestaurant();
  },
  components:{
        QrcodeVue
    }
};
</script>
