<template>
  <CRow>
    <CCol col="12" lg="12">
      <CCard no-header>
        <CCardBody>
            <h5>Add Item</h5>
          <CForm @submit.prevent="store">

            <CAlert
                :show.sync="dismissCountDown"
                color="primary"
                fade
            >   
            ({{dismissCountDown}}) {{ message }}
          
            </CAlert>
           <CSelect
                label="Select Restaurant"
                :options="restaurant"
                placeholder="Please select"
                required
                v-model="restaurant_id"
                :value.sync="restaurant_id"


            />   
            <CSelect
                label="Select Category"
                :options="item"
                placeholder="Please select"
                required
                v-model="category_id"
                :value.sync="category_id"
            ></CSelect>
            <CInput type="text" label="Name" placeholder="Name" v-model="name" required></CInput>
            <label>Image</label><br>
            <input type="file" class="form-control" accept="image/png,image/jpeg" @change="onChangeFile( $event )"/><br>  
            <img v-if="url" :src="url" style="width:50px;height:50px;margin-top: 10px;"/><br>
  
            <CInput type="text" label="Price" placeholder="Price" v-model="price" required @keypress="isNumber($event)"></CInput>
            <CTextarea
                label="Description"
                placeholder="Description"
                rows="5"
                v-model="description"
              />
            <CInput type="text" label="Service size value" placeholder="Service size value" v-model="service_size_value" required ></CInput>
            <CInput type="text" label="Service size unit" placeholder="Service size unit" v-model="service_size_unit" required ></CInput>
  
            <!-- <CInput type="text" label="Email" placeholder="Email" v-model="email"></CInput> -->
            <CButton type="submit" color="primary" >Save</CButton>
            <!-- <CButton color="primary" >Back</CButton> -->
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>
<script>
import axios from 'axios';
export default {
    data:()=>{
        return {
             name:'',
          message:'',
          restaurant_id:'',
            category_id:'',
            file:'',
            price:'',
          dismissSecs: 3,
        dismissCountDown: 0,
        showDismissibleAlert: false,
        restaurant:[],
        item:[],
        url:'',
        current_id:'',
        description:'',
        service_size_value:'',
        service_size_unit:''

        }
    },
    methods:{
        getRestaurant(){
          
          // console.log(this.$route.params.id)
            let self=this;
            // self.current_id=this.$route.params.id;
            axios.get(this.$apiAdress+"/api/restaurant/menu/getRestaurant?token="+localStorage.getItem("api_token"))
            .then(function(response){
                let payload = []
              console.log(response.data.data);
                            console.log(response.data.category);

                response.data.data.map(item => {
                    payload.push({
                        value:item.id,
                        label:item.name
                    })
                })
                self.restaurant= payload;

                 let payload_item = []
                response.data.category.map(item => {
                    payload_item.push({
                        value:item.id,
                        label:item.name
                    })
                })
                self.item= payload_item;
                console.log(" ==== payload 1==== ", self.item)
                // console.log(response.data.data);
                // self.restaurant=response.data.data;
                // const payload = 
                //   response.data.forEach(data => console.log(data.name));

                // console.log(response.data.all_id);
                // console.log(self.restaurant);

            }).catch(function(error){
                console.log(error);

            });
        },
        store(){
          let self=this;
          const fd = new FormData()

          fd.append('file', self.file)
          fd.append('name', self.name)
          fd.append('restaurant_id',self.restaurant_id)
          fd.append('category_id',self.category_id)
          fd.append('price',self.price)
          fd.append('description',self.description)
          fd.append('service_size_value',self.service_size_value)
          fd.append('service_size_unit',self.service_size_unit)

        //   console.log('select val',self.restaurant_id);
          axios.post(this.$apiAdress + '/api/restaurant/menu/item/store?token=' + localStorage.getItem("api_token"),
          fd)
          .then(function(response){
              self.name='';
              self.message='Successfully added';
              self.showAlert();
              self.$router.push({ path: '/item/'+self.restaurant_id }); 

          }).catch(function(error){
            //   console.log(error);
              if(error.response.data.message == 'The given data was invalid.'){
              self.message = '';
              for (let key in error.response.data.errors) {
                if (error.response.data.errors.hasOwnProperty(key)) {
                  self.message += error.response.data.errors[key][0] + '  ';
                }
              }
              self.showAlert();
            }else{
              console.log(error);
            //   self.$router.push({ path: '/login' }); 
            }
          });
        //   console.log('heirhier');
      },
       showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    onChange(event){
        let self=this;
        // console.log("jekgnekg");
      self.restaurant_id=event.target.value;
       axios.get(this.$apiAdress+"/api/restaurant/menu/item/getMenuCategory?token="+localStorage.getItem("api_token"))
            .then(function(response){
                // console.log(response);
                let payload_item = []
                response.data.data.map(item => {
                    payload_item.push({
                        value:item.id,
                        label:item.name
                    })
                })
                self.item= payload_item;
                // console.log(" ==== payload ==== ", payload)
                // console.log(response.data.data);
                // self.restaurant=response.data.data;
                // const payload = 
                //   response.data.forEach(data => console.log(data.name));

                // console.log(response.data.all_id);
                // console.log(self.restaurant);

            }).catch(function(error){
                console.log(error);

            });


    },
    onChangeFile(event){
                 let self=this;
      self.file=event.target.files[0];
      self.url = URL.createObjectURL(self.file);

    },
    isNumber: function(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault();;
      } else {
        return true;
      }
    },
    // getMenuCategory(){
    //   // console.log()
    //   let self=this;
    //   axios.get(this.$apiAdress+"/api/restaurant/menu/item/getMenuCategory?token="+localStorage.getItem("api_token"))
    //         .then(function(response){
    //             // console.log(response);
    //             let payload_item = []
    //             response.data.data.map(item => {
    //                 payload_item.push({
    //                     value:item.id,
    //                     label:item.name
    //                 })
    //             })
    //             self.item= payload_item;
    //             console.log(" ==== payload ==== ", self.item)
    //             // console.log(response.data.data);
    //             // self.restaurant=response.data.data;
    //             // const payload = 
    //             //   response.data.forEach(data => console.log(data.name));

    //             // console.log(response.data.all_id);
    //             // console.log(self.restaurant);

    //         }).catch(function(error){
    //             console.log(error);

    //         });
    // }
    },
    mounted:function(){
        this.getRestaurant();
        // this.getMenuCategory();
    }
}



</script>
