<template>
  <CRow>
    <CCol col="12" xl="12">
      <transition name="slide">
        <CCard>
          <CCardHeader>
            Item

            <CModal title="Item" :show.sync="myModal">
              <CRow>
                <CCol col="12">
                  <p>Name : {{ modalData.name }}</p>
                  <p>Restaurant name : {{ modalData.restaurant }}</p>
              <p>Category : {{ modalData.category }}</p>
                </CCol>

              </CRow>
              <!--<p>Name : {{ modalData.name }}</p>
              <p>Restaurant name : {{ modalData.restaurant }}</p>
              <p>Category : {{ modalData.category }}</p> -->
              <p>
                Image :
                <img
                  v-if="modalData.image != ''"
                  :src="'/uploads/' + modalData.image"
                  style="height: 50px; width: 50px"
                />
              </p>
              <p>Price : {{ modalData.price }}</p>
              <p>
                Status :
                {{ modalData.status == 0 ? "Activated" : "Deactivated" }}
              </p>
              <p>
                Description :
                {{ modalData.description }}
              </p><p>
                Service size value :
                {{ modalData.service_size_value}}
              </p><p>
                Service size unit  :
                {{ modalData.service_size_unit}}
              </p>
            </CModal>
            <CModal title="Edit Item" :show.sync="editModal">
              <CSelect
                name="restaurant_id"
                id="restaurant_id"
                label="Select Restaurant"
                :options="restaurant"
                required
                :value.sync="modalData.restaurant_id"
                :selected="
                restaurant.label == fields.restaurant ? 'selected' : ''"
                @change="onChangeRestaurant($event)"
              />
              <CSelect
                name="category_id"
                id="category_id"
                label="Select Category"
                :options="categoryItem"
                placeholder="Please select"

                required
                :value.sync="modalData.category_id"
                :selected="
                categoryItem.label == fields.category ? 'selected' : ''
                "
                @change="onChangeCategory($event)"
              />

              <CInput
                type="text"
                label="Name"
                placeholder="Name"
                v-model="fields.name"
                required
              ></CInput>

              <CInput
                type="text"
                label="Price"
                placeholder="Price"
                v-model="fields.price"
                required
              ></CInput>
              <input
                type="file"
                accept="image/png,image/jpeg"
                class="form-control"
                @change="onChangeFile($event)"
              /><br />
              <img
                v-if="modalData.image != ''"
                :src="'/uploads/' + fields.image"
                style="width: 50px; height: 50px"
              /><br />
              <img
                v-if="this.url != ''"
                :src="url"
                style="width: 50px; height: 50px"
              /><br />
              <template #footer>
                <CButton @click="editModal = false" color="danger"
                  >Cancel</CButton
                >
                <CButton
                  @click="edit(modalData.id)"
                  color="success"
                  >Update</CButton
                >
              </template>
              <!-- <CButton type="submit" color="danger">Discard</CButton>  -->
              <!-- </CForm> -->
            </CModal>

            <CButton
              color="primary"
              @click="addItem()"
              class="mb-3"
              style="float: right"
              >Add Item</CButton
            >
          </CCardHeader>
          <CCardBody>
            <CAlert :show.sync="dismissCountDown" color="primary" fade>
              ({{ dismissCountDown }}) {{ message }}
            </CAlert>
            <CDataTable
              hover
              striped
              :items="items"
              :fields="fields"
              :items-per-page="5"
              pagination
            >
              <template #image="{ item }">
                <td>
                  <img
                    v-if="item.image != ''"
                    :src="'/uploads/' + item.image"
                    style="width: 50px; height: 50px"
                  />
                </td>
              </template>
              <template #status="{ item }">
                <td>
                  <CInputCheckbox
                    :checked="item.status == '0'"
                    @click="updateStatus(item.id)"
                    title="Activate/Deactivate"
                  />
                </td>
              </template>
              <!-- <template #status="{item}">
            <td>
              <CBadge :color="getBadge(item.status)">{{ item.status }}</CBadge>
            </td>
          </template> -->
              <!-- <template #action="{item}">
            <td>
              <CButton color="primary" @click="showUser( item.id )">Show</CButton>
            </td>
          </template> -->
              <!-- <template #edit="{item}">
            <td>
              <CButton color="primary" @click="editUser( item.id )">Edit</CButton>
            </td>
          </template> -->
              <!-- <template #update-status="{item}">
            <td>
              <CInputCheckbox
                :checked="item.status =='Active'"
                @click="updateStatus( item.id )"
              />
          </td>
          </template> -->
              <template #action="{ item }">
                <td>
                  <CButton color="primary" @click="showModal(item)"
                    >View</CButton
                  >
                  <!-- <CButton color="info" @click="openEditModal(item)"
                    >Edit</CButton
                  > -->
                  <CButton color="danger" @click="deleteItem(item.id)"
                    >Delete</CButton
                  >
                </td>
              </template>
            </CDataTable>
          </CCardBody>
        </CCard>
      </transition>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";

export default {
  name: "restaurantList",
  data: () => {
    return {
      items: [],
      fields: [
        "name",
        "restaurant",
        "category",
        "image",
        "price",
        "status",
        "action",
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      message: "",
      showMessage: false,
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      myModal: false,
      modalData: {},
      editModal: false,
      restaurant: [],
      restaurant_id: "",
      onChangeRestId: "",
      categoryItem: [],
      url: "",
      onChangeCatId:"",
      current_id:''
    };
  },
  paginationProps: {
    align: "center",
    doubleArrows: false,
    previousButtonHtml: "prev",
    nextButtonHtml: "next",
  },
  methods: {
    addItem() {
      let self=this;
      
      self.current_id=self.$route.params.id;
      console.log(self.current_id);
      this.$router.push({ path: "/item/"+self.current_id+"/create"});
    },
    showModal(item) {
      console.log(" === this is me === ", item);
      this.modalData = item;
      this.myModal = true;
    },
    async openEditModal  (item)  {
      this.modalData = item;
      console.log(" === this is me item=== ", item);
      this.fields.name = this.modalData.name;
      this.fields.restaurant = this.modalData.restuarant;
      this.fields.category = this.modalData.category;
      this.fields.price = this.modalData.price;
      this.fields.image = this.modalData.image;
      let self = this;

      try {
        const response = await  axios
        .get(
          this.$apiAdress +
            "/api/restaurant/menu/item/getMenuCategory/" +
            this.modalData.restaurant_id +
            "?token=" +
            localStorage.getItem("api_token")
        )
        let payload_item = [];
          response.data.data.map((item) => {
            payload_item.push({
              value: item.id,
              label: item.name,
            });
          });
          self.categoryItem = payload_item;
        console.log(" == response == 250 => ", response)
      } catch (error) {
        console.log(" === error ==== 251 => ", error, error.response)
      }
      // axios
      //   .get(
      //     this.$apiAdress +
      //       "/api/restaurant/menu/item/getMenuCategory/" +
      //       this.modalData.restaurant_id +
      //       "?token=" +
      //       localStorage.getItem("api_token")
      //   )
      //   .then(function (response) {
      //     // console.log(response);
      //     let payload_item = [];
      //     response.data.data.map((item) => {
      //       payload_item.push({
      //         value: item.id,
      //         label: item.name,
      //       });
      //     });
      //     self.categoryItem = payload_item;
      //     console.log("category list", categoryItem);
      //     // console.log(" ==== payload ==== ", payload)
      //     // console.log(response.data.data);
      //     // self.restaurant=response.data.data;
      //     // const payload =
      //     //   response.data.forEach(data => console.log(data.name));

      //     // console.log(response.data.all_id);
      //     // console.log(self.restaurant);
      //   })
      //   .catch(function (error) {
      //     console.log(error);
      //     console.log(error.response.status);
      //     if (error.response.status == "401") {
      //       self.$router.push({ path: "/login" });
      //     }
      //   });
      // console.log("outside", self.categoryItem);

      this.editModal = true;
    },
    getRestaurant() {
      let self = this;
      axios
        .get(
          this.$apiAdress +
            "/api/restaurant/menu/getRestaurant?token=" +
            localStorage.getItem("api_token")
        )
        .then(function (response) {
          let payload = [];
          response.data.data.map((item) => {
            payload.push({
              value: item.id,
              label: item.name,
            });
          });
          self.restaurant = payload;
        })
        .catch(function (error) {
          console.log(error);
          if (error.response.status == "401") {
            self.$router.push({ path: "/login" });
          }
        });
    },
  onChangeRestaurant(event){
        let self=this;
        self.onChangeRestId = event.target.value;

        // console.log("jekgnekg");
      self.restaurant_id=event.target.value;
       axios.get(this.$apiAdress+"/api/restaurant/menu/item/getMenuCategory/"+self.restaurant_id+"?token="+localStorage.getItem("api_token"))
            .then(function(response){
                // console.log(response);
                let payload_item = []
                response.data.data.map(item => {
                    payload_item.push({
                        value:item.id,
                        label:item.name
                    })
                })
                self.categoryItem= payload_item;
                // console.log(" ==== payload ==== ", payload)
                // console.log(response.data.data);
                // self.restaurant=response.data.data;
                // const payload = 
                //   response.data.forEach(data => console.log(data.name));

                // console.log(response.data.all_id);
                // console.log(self.restaurant);

            }).catch(function(error){
                console.log(error);

            });


    },
    onChangeCategory(event){
        let self=this;
        self.onChangeCatId = event.target.value;
    },
    // onChange(event) {
    //   // console.log(event.target.value);
    //   self.onChangeRestId = event.target.value;
    // },

    edit(id) {
      // console.log(this.fields.name);
      let self = this;
      if (self.onChangeRestId == "") {
        self.restaurant_id = self.modalData.restaurant_id;
      } else {
        self.restaurant_id = self.onChangeRestId;
      }
        if (self.onChangeCatId == "") {
        self.category_id = self.modalData.category_id;
      } else {
        self.category_id = self.onChangeCatId;
      }

      console.log(self.category_id);
         const fd = new FormData()

          fd.append('file', self.file)
          fd.append('name', self.fields.name)
          fd.append('category_id',self.category_id)
          fd.append('restaurant_id',self.restaurant_id)
          fd.append('price',self.fields.price)
      // console.log(self.fields.name);

      axios
      .post(
       this.$apiAdress +
      "/api/restaurant/menu/item/update/" +
      id +
      "?token=" +
     localStorage.getItem("api_token"),
      fd
     )
      .then(function (response) {
     self.message = "Successfully updated";
     self.showAlert();
      self.getMenuItem();
      self.editModal = false;
      self.url='';
      })
      .catch(function (error) {
      console.log(error);
     if (error.response.status == "401") {
      self.$router.push({ path: "/login" });
      }
     });
    },

    deleteItem(id) {
      let self = this;
      let userId = id;
      axios
        .post(
          this.$apiAdress +
            "/api/restaurant/menu/item/delete/" +
            id +
            "?token=" +
            localStorage.getItem("api_token")
        )
        .then(function (response) {
          self.message = "Successfully deleted menu item ";
          self.showAlert();
          self.getMenuItem();
        })
        .catch(function (error) {
          console.log(error);
          if (error.response.status == "401") {
            self.$router.push({ path: "/login" });
          }
          // self.$router.push({ path: "/login" });
        });
    },

    // countDownChanged (dismissCountDown) {
    //   this.dismissCountDown = dismissCountDown
    // },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    getMenuItem() {
      let self = this;
      self.current_id=self.$route.params.id
      axios
        .get(
          this.$apiAdress +
            "/api/restaurant/menu/item/"+self.current_id+"?token=" +
            localStorage.getItem("api_token")
        )
        .then(function (response) {
          // console.log(response.data.data);
          self.items = response.data.data;
        })
        .catch(function (error) {
          console.log(error);
          if (error.response.status == "401") {
            self.$router.push({ path: "/login" });
          }
        });
    },
    updateStatus(id) {
      let self = this;
      axios
        .post(
          this.$apiAdress +
            "/api/restaurant/menu/item/status/" +
            id +
            "?token=" +
            localStorage.getItem("api_token"),
          {}
        )
        .then(function (response) {
          self.message = "Successfully updated status";
          self.showAlert();
          self.getMenuItem();
        })
        .catch(function (error) {
          console.log(error);
          if (error.response.status == "401") {
            self.$router.push({ path: "/login" });
          }
          // self.$router.push({ path: '/login' });
        });
    },
    onChangeFile(event) {
      let self = this;
      self.file = event.target.files[0];
      self.url = URL.createObjectURL(self.file);

    },

  },
  mounted: function () {
    this.getMenuItem();
    this.getRestaurant();
  },
};
</script>
