<template>
  <CRow>
    <CCol col="12" xl="12">
      <transition name="slide">
        <CCard>
          <CCardHeader>
            Category
            <!-- <CButton color="secondary" @click="myModal = true" class="mr-1">
                Launch demo modal
              </CButton> -->
            <!-- <CModal title="Category" :show.sync="myModal">
              <p>Name : {{ modalData.name }}</p>
              <p>Restaurant name : {{ modalData.restuarant }}</p>
            </CModal> -->
            <CModal title="Edit Category" :show.sync="editModal">
              <!-- <CSelect
              name="restaurant_id"
              id="restaurant_id"
                label="Select Restaurant"
                :options="restaurant"
                required
                :value.sync="modalData.restaurant_id"
                :selected="restaurant.label ==fields.restuarant ?'selected':''"
                @change="onChange($event)"
              /> -->

         <!-- <select>
<option v-for="(row, index) in restaurant" :value="row.value"
              v-bind:key="index" :selected="row.value == 7">{{ row.label }}
      </option>
</select> -->
              <CInput
                type="text"
                label="Name"
                placeholder="Name"
                v-model="fields.name"
                required
              ></CInput>
              <template #footer>
                <CButton @click="editModal = false" color="danger"
                  >Cancel</CButton
                >
                <CButton
                  @click="edit(fields.name, modalData.id)"
                  color="success"
                  >Update</CButton
                >
              </template>
              <!-- <CButton type="submit" color="danger">Discard</CButton>  -->
              <!-- </CForm> -->
            </CModal>

            <CButton
              color="primary"
              @click="addMenu()"
              class="mb-3"
              style="float: right"
              >Add Category</CButton
            >
          </CCardHeader>
          <CCardBody>
            <CAlert :show.sync="dismissCountDown" color="primary" fade>
              ({{ dismissCountDown }}) {{ message }}
            </CAlert>
            <CDataTable
              hover
              striped
              :items="items"
              :fields="fields"
              :items-per-page="5"
              pagination
            >
              <!-- <template #status="{item}">
            <td>
              <CBadge :color="getBadge(item.status)">{{ item.status }}</CBadge>
            </td>
          </template> -->
              <!-- <template #action="{item}">
            <td>
              <CButton color="primary" @click="showUser( item.id )">Show</CButton>
            </td>
          </template> -->
              <!-- <template #edit="{item}">
            <td>
              <CButton color="primary" @click="editUser( item.id )">Edit</CButton>
            </td>
          </template> -->
              <!-- <template #update-status="{item}">
            <td>
              <CInputCheckbox
                :checked="item.status =='Active'"
                @click="updateStatus( item.id )"
              />
          </td>
          </template> -->
              <template #action="{ item }">
                <td>
                  <!-- <CButton color="primary" @click="showModal(item)"
                    >Show</CButton
                  > -->
                  <CButton color="info" @click="openEditModal(item)"
                    >Edit</CButton
                  >
                  <CButton color="danger" @click="deleteRestaurantMenu(item.id)"
                    >Delete</CButton
                  >
                </td>
              </template>
            </CDataTable>
          </CCardBody>
        </CCard>
      </transition>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";

export default {
  name: "restaurantList",
  data: () => {
    return {
      items: [],
      fields: ["name", "action"],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      message: "",
      showMessage: false,
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      myModal: false,
      modalData: {},
      editModal: false,
      restaurant: [],
      restaurant_id: "",
      onChangeRestId:'',

    };
  },
  paginationProps: {
    align: "center",
    doubleArrows: false,
    previousButtonHtml: "prev",
    nextButtonHtml: "next",
  },
  methods: {
    addMenu() {
      this.$router.push({ path: "/restaurant_menu/create" });
    },
    showModal(item) {
      //   console.log(" === this is me === ", item);
      this.modalData = item;
      this.myModal = true;
    },
    openEditModal(item) {
      this.modalData = item;
      // console.log(" === this is me 2 === ", item);
      this.fields.name = this.modalData.name;
      // this.fields.restuarant = this.modalData.restuarant;
      // console.log(this.fields.restuarant);
      this.editModal = true;
    },
    getRestaurant() {
      let self = this;
      axios
        .get(
          this.$apiAdress +
            "/api/restaurant/menu/getRestaurant?token=" +
            localStorage.getItem("api_token")
        )
        .then(function (response) {
          let payload = [];
          response.data.data.map((item) => {
            payload.push({
              value: item.id,
              label: item.name,
            });
          });
          self.restaurant = payload;

        })
        .catch(function (error) {
          console.log(error);
          if(error.response.status =='401'){
                    self.$router.push({ path: "/login" });
                  }
        });
    },
    onChange(event){
      // console.log(event.target.value);
      self.onChangeRestId=event.target.value;
    },
    
    edit(name,id){
      let self=this;
      // if(self.onChangeRestId==''){
      //   self.restaurant_id=self.modalData.restaurant_id
      // }else{
      //   self.restaurant_id=self.onChangeRestId;
      // }

      
      axios.post(this.$apiAdress+"/api/restaurant/menu/update/"+id+"?token="+localStorage.getItem("api_token"),
      {"name":name})
      .then(function(response){
        self.message ="Successfully updated";
        self.showAlert();
        self.getMenu();
        self.editModal = false;

      })
      .catch(function(error){
        console.log(error);
        if(error.response.status =='401'){
                    self.$router.push({ path: "/login" });
                  }
      });

    },
    // getBadge (status) {
    //   return status === 'Active' ? 'success'
    //     : status === 'Inactive' ? 'secondary'
    //       : status === 'Pending' ? 'warning'
    //         : status === 'Banned' ? 'danger' : 'primary'
    // },
    // userLink (id) {
    //   return `users/${id.toString()}`
    // },
    // editLink (id) {
    //   return `users/${id.toString()}/edit`
    // },
    // showUser ( id ) {
    //   const userLink = this.userLink( id );
    //   this.$router.push({path: userLink});
    // },
    // editUser ( id ) {
    //   const editLink = this.editLink( id );
    //   this.$router.push({path: editLink});
    // },
    deleteRestaurantMenu(id) {
      let self = this;
      let userId = id;
      axios
        .post(
          this.$apiAdress +
            "/api/restaurant/menu/delete/" +
            id +
            "?token=" +
            localStorage.getItem("api_token")
        )
        .then(function (response) {
          self.message = "Successfully deleted restaurant";
          self.showAlert();
          self.getMenu();
        })
        .catch(function (error) {
          console.log(error);
          if(error.response.status =='401'){
                    self.$router.push({ path: "/login" });
                  }
          // self.$router.push({ path: "/login" });
        });
    },

    // countDownChanged (dismissCountDown) {
    //   this.dismissCountDown = dismissCountDown
    // },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    getMenu() {
      let self = this;
      axios
        .get(
          this.$apiAdress +
            "/api/restaurant/menu?token=" +
            localStorage.getItem("api_token")
        )
        .then(function (response) {
          // console.log(response);
          self.items = response.data.data;
        })
        .catch(function (error) {
          console.log(error);
          if(error.response.status =='401'){
                    self.$router.push({ path: "/login" });
                  }
          // self.$router.push({ path: "/login" });
        });
    },
    // updateStatus(id){
    //   let self=this;
    //   let userId=id;
    //   axios.post(  this.$apiAdress + '/api/users/update/status/' + id + '?token=' + localStorage.getItem("api_token"), {
    //     // _method: 'DELETE'
    //   })
    //   .then(function (response) {
    //       self.message = 'Successfully updated user.';
    //       self.showAlert();
    //       self.getUsers();
    //   }).catch(function (error) {
    //     console.log(error);
    //     self.$router.push({ path: '/login' });
    //   });
    // }

    // showModal(id){
    //     let self =this
    //     let restaurantId=id;
    //     axios.get(this.$apiAdress+''+id+'?token='+localStorage.getItem("api_token"))
    //     .then(function(response){
    //         self.items=response.data.data;

    //     }).catch(function(error){
    //         console.log(error);
    //         self.$router.push({path:'/login'});
    //     });
    // }
  },
  mounted: function () {
    this.getMenu();
    this.getRestaurant();
  },
};
</script>
