<template>
  <CRow>
    <CCol col="12" lg="12">
      <CCard no-header>
        <CCardBody>
            <h5>Add Category</h5>
          <CForm @submit.prevent="store">

            <CAlert
                :show.sync="dismissCountDown"
                color="primary"
                fade
            >   
            ({{dismissCountDown}}) {{ message }}
          
            </CAlert>
           <!-- <CSelect
                label="Select Restaurant"
                :options="restaurant"
                placeholder="Please select"
                required
                v-model="restaurant_id"
                :value.sync="restaurant_id"
              />    -->
              <CInput type="text" label="Name" placeholder="Name" v-model="name" required></CInput>
            <!-- <CInput type="text" label="Email" placeholder="Email" v-model="email"></CInput> -->
            <CButton type="submit" color="primary" >Save</CButton>
            <!-- <CButton color="primary" >Back</CButton> -->
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>
<script>
import axios from 'axios';
export default {
    data:()=>{
        return {
             name:'',
          message:'',
          restaurant_id:'',
          dismissSecs: 3,
        dismissCountDown: 0,
        showDismissibleAlert: false,
        restaurant:[]
        }
    },
    methods:{
        getRestaurant(){
            let self=this;
            axios.get(this.$apiAdress+"/api/restaurant/menu/getRestaurant?token="+localStorage.getItem("api_token"))
            .then(function(response){
                let payload = []
                response.data.data.map(item => {
                    payload.push({
                        value:item.id,
                        label:item.name
                    })
                })
                self.restaurant= payload;
                // console.log(" ==== payload ==== ", payload)
                // console.log(response.data.data);
                // self.restaurant=response.data.data;
                // const payload = 
                //   response.data.forEach(data => console.log(data.name));

                // console.log(response.data.all_id);
                // console.log(self.restaurant);

            }).catch(function(error){
                console.log(error);

            });
        },
        store(){
          let self=this;
          console.log('select val',self.restaurant_id);
          axios.post(this.$apiAdress + '/api/restaurant/menu/store?token=' + localStorage.getItem("api_token"),
          {'name':self.name,
          })
          .then(function(response){
              self.name='';
              self.message='Successfully added';
              self.showAlert();
              self.$router.push({ path: '/restaurant_menu' }); 

          }).catch(function(error){
            
            //   console.log(error);
              if(error.response.data.message == 'The given data was invalid.'){
              self.message = '';
              for (let key in error.response.data.errors) {
                if (error.response.data.errors.hasOwnProperty(key)) {
                  self.message += error.response.data.errors[key][0] + '  ';
                }
              }
              self.showAlert();
            }else{
              console.log(error);
            //   self.$router.push({ path: '/login' }); 
            }
          });
        //   console.log('heirhier');
      },
       showAlert () {
      this.dismissCountDown = this.dismissSecs
    },
    },
    mounted:function(){
        this.getRestaurant();
    }
}



</script>
